{
   "context": "/home/jeremy/dev/gatsby/test-site",
   "entry": {
      "main": "/home/jeremy/dev/gatsby/test-site/.cache/static-entry"
   },
   "output": {
      "path": "/home/jeremy/dev/gatsby/test-site/public",
      "filename": "render-page.js",
      "libraryTarget": "umd",
      "library": "lib",
      "umdNamedDefine": true,
      "globalObject": "this",
      "publicPath": "/"
   },
   "module": {
      "rules": [
         {
            "test": "\\.(js|mjs|jsx)$",
            "include": "function include(modulePath)",
            "type": "javascript/auto",
            "use": [
               {
                  "options": {
                     "stage": "build-html",
                     "configFile": true,
                     "compact": true
                  },
                  "loader": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby/dist/utils/babel-loader.js"
               }
            ]
         },
         {
            "test": "\\.ya?ml",
            "use": [
               {
                  "options": {},
                  "loader": "/home/jeremy/dev/gatsby/test-site/node_modules/json-loader/index.js"
               },
               {
                  "options": {},
                  "loader": "/home/jeremy/dev/gatsby/test-site/node_modules/yaml-loader/index.js"
               }
            ]
         },
         {
            "use": [
               {
                  "loader": "/home/jeremy/dev/gatsby/test-site/node_modules/url-loader/dist/cjs.js",
                  "options": {
                     "limit": 10000,
                     "name": "static/[name]-[hash].[ext]"
                  }
               }
            ],
            "test": "\\.(eot|otf|ttf|woff(2)?)(\\?.*)?$"
         },
         {
            "use": [
               {
                  "loader": "/home/jeremy/dev/gatsby/test-site/node_modules/url-loader/dist/cjs.js",
                  "options": {
                     "limit": 10000,
                     "name": "static/[name]-[hash].[ext]"
                  }
               }
            ],
            "test": "\\.(ico|svg|jpg|jpeg|png|gif|webp)(\\?.*)?$"
         },
         {
            "use": [
               {
                  "loader": "/home/jeremy/dev/gatsby/test-site/node_modules/url-loader/dist/cjs.js",
                  "options": {
                     "limit": 10000,
                     "name": "static/[name]-[hash].[ext]"
                  }
               }
            ],
            "test": "\\.(mp4|webm|ogv|wav|mp3|m4a|aac|oga|flac)$"
         },
         {
            "use": [
               {
                  "loader": "/home/jeremy/dev/gatsby/test-site/node_modules/file-loader/dist/cjs.js",
                  "options": {
                     "name": "static/[name]-[hash].[ext]"
                  }
               }
            ],
            "test": "\\.pdf$"
         },
         {
            "test": "/home/jeremy/dev/gatsby/test-site/node_modules/@reach/router/es/index.js",
            "type": "javascript/auto",
            "use": [
               {
                  "loader": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby/dist/utils/reach-router-add-basecontext-export-loader.js"
               }
            ]
         },
         {
            "oneOf": [
               {
                  "use": [
                     {
                        "loader": "/home/jeremy/dev/gatsby/test-site/node_modules/css-loader/locals.js",
                        "options": {
                           "sourceMap": false,
                           "camelCase": "dashesOnly",
                           "localIdentName": "[name]--[local]--[hash:base64:5]",
                           "modules": true,
                           "importLoaders": 1
                        }
                     },
                     {
                        "loader": "/home/jeremy/dev/gatsby/test-site/node_modules/postcss-loader/src/index.js",
                        "options": {
                           "ident": "postcss-1",
                           "sourceMap": false,
                           "plugins": "function plugins(loader)"
                        }
                     },
                     {
                        "loader": "typings-for-css-modules-loader",
                        "options": {
                           "modules": true,
                           "importLoaders": 1,
                           "localIndentName": "[path]___[name]__[local]___[hash:base64:5]",
                           "namedExport": true,
                           "camelCase": true
                        }
                     }
                  ],
                  "test": "\\.module\\.css$"
               },
               {
                  "use": [
                     {
                        "options": {},
                        "loader": "/home/jeremy/dev/gatsby/test-site/node_modules/null-loader/dist/cjs.js"
                     }
                  ],
                  "test": "\\.css$"
               }
            ]
         }
      ]
   },
   "plugins": [
      {
         "options": {
            "resourceRegExp": "^\\.\\/locale$",
            "contextRegExp": "moment$"
         },
         "checkIgnore": "function bound checkIgnore()"
      },
      {
         "definitions": {
            "process.env": "{}",
            "process.env.NODE_ENV": "\"production\"",
            "process.env.PUBLIC_DIR": "\"/home/jeremy/dev/gatsby/test-site/public\"",
            "process.env.BUILD_STAGE": "\"build-html\"",
            "process.env.GATSBY_LOGGER": "\"ink\"",
            "process.env.GATSBY_BUILD_STAGE": "\"build-html\"",
            "__BASE_PATH__": "\"\"",
            "__PATH_PREFIX__": "\"\"",
            "__ASSET_PREFIX__": "\"\""
         }
      },
      {
         "definitions": {}
      }
   ],
   "target": "node",
   "devtool": "source-map",
   "performance": {
      "hints": false
   },
   "mode": "development",
   "resolveLoader": {
      "modules": [
         "/home/jeremy/dev/gatsby/test-site/node_modules",
         "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby/dist/loaders",
         "node_modules"
      ],
      "plugins": [
         {
            "apply": "function nothing()"
         }
      ]
   },
   "resolve": {
      "extensions": [
         ".mjs",
         ".js",
         ".jsx",
         ".wasm",
         ".json"
      ],
      "alias": {
         "gatsby$": "/home/jeremy/dev/gatsby/test-site/.cache/gatsby-browser-entry.js",
         "@babel/runtime": "/home/jeremy/dev/gatsby/test-site/node_modules/@babel/runtime",
         "core-js": "/home/jeremy/dev/gatsby/test-site/node_modules/core-js",
         "react-hot-loader": "/home/jeremy/dev/gatsby/test-site/node_modules/react-hot-loader",
         "react-lifecycles-compat": "/home/jeremy/dev/gatsby/test-site/.cache/react-lifecycles-compat.js",
         "create-react-context": "/home/jeremy/dev/gatsby/test-site/.cache/create-react-context.js"
      },
      "plugins": [
         {
            "apply": "function nothing()"
         },
         {
            "apply": "function nothing()"
         },
         {
            "apply": "function nothing()",
            "makePlugin": "function (locator, filter)",
            "moduleLoader": "function (module)",
            "topLevelLoader": {
               "apply": "function nothing()"
            },
            "bind": "function (filter, module, dependency)",
            "tsLoaderOptions": "function ({})",
            "forkTsCheckerOptions": "function ({})"
         },
         {
            "cache": {},
            "themes": [
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby/dist/internal-plugins/dev-404-page",
                  "themeName": "dev-404-page"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby/dist/internal-plugins/load-babel-config",
                  "themeName": "load-babel-config"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby/dist/internal-plugins/internal-data-bridge",
                  "themeName": "internal-data-bridge"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby/dist/internal-plugins/prod-404",
                  "themeName": "prod-404"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby/dist/internal-plugins/webpack-theme-component-shadowing",
                  "themeName": "webpack-theme-component-shadowing"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-react-helmet",
                  "themeName": "gatsby-plugin-react-helmet"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-source-filesystem",
                  "themeName": "gatsby-source-filesystem"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-transformer-sharp",
                  "themeName": "gatsby-transformer-sharp"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-sharp",
                  "themeName": "gatsby-plugin-sharp"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-transformer-typescript-css-modules",
                  "themeName": "gatsby-transformer-typescript-css-modules"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-manifest",
                  "themeName": "gatsby-plugin-manifest"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-offline",
                  "themeName": "gatsby-plugin-offline"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-page-creator",
                  "themeName": "gatsby-plugin-page-creator"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-page-creator",
                  "themeName": "gatsby-plugin-page-creator"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-page-creator",
                  "themeName": "gatsby-plugin-page-creator"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-page-creator",
                  "themeName": "gatsby-plugin-page-creator"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-page-creator",
                  "themeName": "gatsby-plugin-page-creator"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-page-creator",
                  "themeName": "gatsby-plugin-page-creator"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-page-creator",
                  "themeName": "gatsby-plugin-page-creator"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-page-creator",
                  "themeName": "gatsby-plugin-page-creator"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-page-creator",
                  "themeName": "gatsby-plugin-page-creator"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-page-creator",
                  "themeName": "gatsby-plugin-page-creator"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-page-creator",
                  "themeName": "gatsby-plugin-page-creator"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-page-creator",
                  "themeName": "gatsby-plugin-page-creator"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site",
                  "themeName": "default-site-plugin"
               },
               {
                  "themeDir": "/home/jeremy/dev/gatsby/test-site/node_modules/gatsby-plugin-page-creator",
                  "themeName": "gatsby-plugin-page-creator"
               }
            ],
            "projectRoot": "/home/jeremy/dev/gatsby/test-site",
            "extensions": [
               ".mjs",
               ".js",
               ".jsx",
               ".wasm",
               ".json"
            ]
         }
      ]
   },
   "node": {
      "__filename": true
   },
   "externals": [
      "function (context, request, callback)"
   ]
}